<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Vatertag.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Vatertag.My.MySettings.VatertagConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;D:\Dropbox\Eigene Dateien\Vatertag 2.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Vatertag.My.MySettings>
            <setting name="ScheibenPreis" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GrundPreis" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>Verkauf</value>
            </setting>
            <setting name="lastFile" serializeAs="String">
                <value>D:\Dropbox\Eigene Dateien\Vatertag.accdb</value>
            </setting>
            <setting name="Veranstaltungsname" serializeAs="String">
                <value>Vatertagsschießen</value>
            </setting>
        </Vatertag.My.MySettings>
    </userSettings>
</configuration>